table.list-table {
    margin: 20;  /*temporary*/

    border: 0;
    border-collapse: collapse;
}

table.list-table thead {
    font-weight: bold;
    text-align: left;
    border-bottom: 2px #000 solid;
}

table.list-table th { padding: 2px 10px; }
table.list-table td { padding: 2px 10px; }

table.list-table.stripped tbody :nth-child(2n+1) td {
    background-color: #e0e0e0;
}

table.list-table tbody .hover td,
table.list-table tbody .hover:nth-child(2n+1) td {
    background-color: rgb()
}

table.list-table tbody .active td,
table.list-table tbody .active:nth-child(2n+1) td {
    background-color: rgb()
}

table.list-table tbody .selected td,
table.list-table tbody .selected:nth-child(2n+1) td {
    background-color: rgb()
}

table.list-table th.sortable { cursor: pointer; }
table.list-table .table-sort-indicator { color: rgb(176, 176, 176); }

table.list-table button {
    border: none;
    color: #900;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    cursor: pointer;
}

table.list-table button:hover  { background: #d0d0d0; color: #333; }
table.list-table button:active { background: #a0a0a0; }
