{% extends 'base_page.html' %}

{% load dsqla %}
{% load compress %}
{% load static %}


{% block style_includes %}
    {{ block.super }}

    <link rel='stylesheet' type='text/css' href='{% static 'characters/css/character_detail.css' %}' />
    <link rel='stylesheet' type='text/css' href='{% static 'css/rating.css' %}' />
{% endblock style_includes %}


{% block script_includes %}
    {{ block.super }}

    <script type='text/javascript' src='{% static 'js/libraries/d3-3.5.5.js' %}'></script>

    <!-- chronicles -->
    {% compress js %}
        <script type='text/coffeescript' src='{% static 'accounts/coffeescript/models/user.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'chronicles/coffeescript/models/chronicle.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'chronicles/coffeescript/models/game.coffee' %}'></script>
    {% endcompress %}

    <!-- traits -->
    {% compress js %}
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/trait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/affiliation.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/attribute.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/character_text.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/combat_trait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/creature_type.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/flaw.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/genealogy.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/merit.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/misc_trait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/power.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/skill.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/subgroup.coffee' %}'></script>
    {% endcompress %}

    <!-- characters -->
    {% compress js %}
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_trait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_attribute.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_character_text.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_combat_trait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_flaw.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_merit.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_misc_trait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_power.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_skill.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_skill_specialty.coffee' %}'></script>
        {# <script type='text/coffeescript' src='{% static 'characters/coffeescript/models/character_has_xp.coffee' %}'></script> #}
    {% endcompress %}

    <!-- view-models -->
    {% compress js %}
        <script type='text/coffeescript' src='{% static 'coffeescript/ko_bindings/dot_rating.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'coffeescript/ko_bindings/option.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'coffeescript/base_view_model.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'accounts/coffeescript/viewmodels/user.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/viewmodels/trait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/viewmodels/power.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'trait_access/coffeescript/viewmodels/available_traits.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/viewmodels/character_summary.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/viewmodels/character_trait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'characters/coffeescript/viewmodels/edit_main.coffee' %}'></script>
    {% endcompress %}
{% endblock script_includes %}


{% block content %}
    <header class="charsheet-header">
        <!-- ko if: character_summary.name() != '' -->
            <h1 data-bind="text: character_summary.name()"></h1>
        <!-- /ko -->
        <!-- ko if: character_summary.name() == '' -->
            <h1>(new character)</h1>
        <!-- /ko -->
        <p><em>Played by:</em> <span data-bind="text: character_summary.user().name()"></span></p>
    </header>

    <section id='general-character-traits' data-bind="with: character_summary">
        <span class='label'>Character Name:</span> <input type='text' name='name' data-bind="value: name()" /><br />
        <span class='label'>Character Status:</span> <span data-bind="text: status().name"></span><br />
        <span class='label'>Creature Type:</span> <select name='creature_type' data-bind="
                options: available.creature_type,
                optionsText: 'label',
                optionsValue: 'id',
                value: creature_type_id
            "></select><br />
        <!-- ko if: creature_type().genealogy_name() != null -->
            <span class='label' data-bind="text: creature_type().genealogy_name"></span> <select name='genealogy' data-bind="
                    options: available.genealogy,
                    optionsCaption: creature_type().genealogy_name,
                    optionsText: 'label',
                    optionsValue: 'id',
                    value: genealogy_id
                "></select><br />
        <!-- /ko -->
        <!-- ko if: creature_type().affiliation_name() != null -->
            <span class='label' data-bind="text: creature_type().affiliation_name"></span> <select name='affiliation' data-bind="
                    options: available.affiliation,
                    optionsCaption: creature_type().affiliation_name,
                    optionsText: 'label',
                    optionsValue: 'id',
                    value: affiliation_id
                "></select><br />
        <!-- /ko -->
        <!-- ko if: creature_type().subgroup_name() != null -->
            <span class='label' data-bind="text: creature_type().subgroup_name"></span> <select name='subgroup' data-bind="
                    options: available.subgroup,
                    optionsCaption: creature_type().subgroup_name,
                    optionsText: 'label',
                    optionsValue: 'id',
                    value: subgroup_id
                "></select><br />
        <!-- /ko -->

        {% comment %}
        {# only include these for mortals (and ghouls?) #}
        <span class='label'>Virtue:</span> <select name='virtue'></select><br />
        <span class='label'>Vice:</span> <select name='vice'></select><br />
        {% endcomment %}
    </section>

    <section id='attributes'>
        <h2>Attributes</h2>
        <div id='mental-attributes' style='width: 33.33333%'>
            <h3>Mental</h3>
            <ul class='trait-list' data-bind="foreach: character_details.mental_attributes">
                <li>
                    <span class='stat-label' data-bind="text: trait().label()"></span>
                    <div data-bind="dot_rating: $data"></div>
                </li>
            </ul>
        </div>
        <div id='physical-attributes' style='width: 33.33333%'>
            <h3>Physical</h3>
            <ul class='trait-list' data-bind="foreach: character_details.physical_attributes">
                <li>
                    <span class='stat-label' data-bind="text: trait().label()"></span>
                    <div data-bind="dot_rating: $data"></div>
                </li>
            </ul>
        </div>
        <div id='social-attributes' style='width: 33.33333%'>
            <h3>Social</h3>
            <ul class='trait-list' data-bind="foreach: character_details.social_attributes">
                <li>
                    <span class='stat-label' data-bind="text: trait().label()"></span>
                    <div data-bind="dot_rating: $data"></div>
                </li>
            </ul>
        </div>
    </section>

    <section id='skills'>
        <h2>Skills</h2>
        <div id='mental-skills' style='width: 33.33333%'>
            <h3>Mental</h3>
            <ul class='trait-list' data-bind="foreach: character_details.mental_skills">
                <li>
                    <span class='stat-label' data-bind="text: trait().label()"></span>
                    <div data-bind="dot_rating: $data"></div>
                </li>
            </ul>
        </div>
        <div id='physical-skills' style='width: 33.33333%'>
            <h3>Physical</h3>
            <ul class='trait-list' data-bind="foreach: character_details.physical_skills">
                <li>
                    <span class='stat-label' data-bind="text: trait().label()"></span>
                    <div data-bind="dot_rating: $data"></div>
                </li>
            </ul>
        </div>
        <div id='social-skills' style='width: 33.33333%'>
            <h3>Social</h3>
            <ul class='trait-list' data-bind="foreach: character_details.social_skills">
                <li>
                    <span class='stat-label' data-bind="text: trait().label()"></span>
                    <div data-bind="dot_rating: $data"></div>
                </li>
            </ul>
        </div>
    </section>

    <section id='skill-specialties' data-bind="with: character_details">
        <h2>Skill Specialties</h2>
        <select data-bind="value: skill_specialty_skill">
            <optgroup label='Mental' data-bind="foreach: mental_skills">
                <option data-bind="option: $data, text: trait().label"></option>
            </optgroup>
            <optgroup label='Physical' data-bind="foreach: physical_skills">
                <option data-bind="option: $data, text: trait().label"></option>
            </optgroup>
            <optgroup label='Social' data-bind="foreach: social_skills">
                <option data-bind="option: $data, text: trait().label"></option>
            </optgroup>
        </select>
        <input type='text' data-bind="value: skill_specialty_text" placeholder='specialty' />
        <button data-bind="click: add_skill_specialty">add</button>
        <ul class='trait-list' data-bind="foreach: character_skill_specialties">
            <li>
                <span class='specialty-label' data-bind="text: trait().label"></span>:
                <span data-bind="text: specialty"></span>
                <div class='controls'>
                    <a class='remove' data-bind="click: $parent.remove_trait">✖</a>
                </div>
            </li>
        </ul>
    </section>

    <div class='row' data-bind="with: character_details">

        <section id='powers' data-bind='visible: power_name() != null'>
            <h2 data-bind="text: power_name"></h2>
            <select data-bind="value: selected_power, foreach: available.power_group">
                <optgroup data-bind="attr: {label: label}, foreach: powers">
                    <option data-bind="
                            option: $data,
                            text: label_with_rating,
                            disabled: access_denied
                        "></option>
                </optgroup>
            </select>
            <button data-bind="click: add_power">add</button>
            <ul class='trait-list' data-bind="foreach: character_powers">
                <li>
                    <span data-bind="text: trait().model().power_group.get('label')"></span>
                    <span data-bind="text: trait().rating"></span>:
                    <span data-bind="text: trait().label"></span>
                    <div class='controls'>
                        <a class='remove' data-bind="click: $parent.remove_trait">✖</a>
                    </div>
                </li>
            </ul>
        </section>

    </div>

    <!-- bootstrap data -->
    <script type='text/javascript'>
{{ models | create_js_records | safe }}

window.character = new ORM.characters.Character(
    {{ character | serialize_json | safe }},
    { parse: true }
);
    </script>

    {% compress js %}
        <script type='text/coffeescript'>
            window.character_view_model = new VM.characters.CharacterViewModel character
            ko.applyBindings character_view_model
        </script>
    {% endcompress %}
{% endblock content %}
