{% extends 'base_page.html' %}

{% load compress %}
{% load js_filters %}
{% load model_filters %}
{% load static %}


{% block style_includes %}
    {{ block.super }}

    <link rel='stylesheet' type='text/css' href='{% static 'css/rating.css' %}' />
    <link rel='stylesheet' type='text/css' href='{% static 'css/modal.css' %}' />
    <link rel='stylesheet' type='text/css' href='{% static 'character/css/character_detail.css' %}' />
{% endblock style_includes %}


{% block script_includes %}
    {{ block.super }}

    <!-- libs -->
    {% compress js %}
        <script type='text/coffeescript' src='{% static 'coffeescript/tools.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'coffeescript/enum.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'coffeescript/svg_tools.coffee' %}'></script>
    {% endcompress %}

    <!-- character summary -->
    {% compress js %}
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/character.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/affiliation.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/creaturetype.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/genealogy.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/subgroup.coffee' %}'></script>
    {% endcompress %}

    <!-- trait models -->
    {% compress js %}
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/attribute.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/charactertext.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/combattrait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/derangement.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/flaw.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/merit.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/misctrait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/power.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'traits/coffeescript/models/skill.coffee' %}'></script>
    {% endcompress %}

    <!-- character traits -->
    {% compress js %}
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhasattribute.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhascombattrait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhasderangement.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhasflaw.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhasmerit.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhasmisctrait.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhaspower.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhasskill.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhasskillspecialty.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/models/characterhastext.coffee' %}'></script>
    {% endcompress %}

    <!-- views -->
    {% compress js %}
        <script type='text/coffeescript' src='{% static 'coffeescript/collections/filtered_collection.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'coffeescript/views/overlay.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'coffeescript/views/rating.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'coffeescript/views/basic_views.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/views/character_edit.coffee' %}'></script>
        <script type='text/coffeescript' src='{% static 'character/coffeescript/views/edit_character_summary.coffee' %}'></script>
    {% endcompress %}
{% endblock script_includes %}


{% block content %}
    <script type='text/html' id='template_character-summary'>
        <div id='character-basics'>
            <span class='label'>Character Name:</span> <input type='text' name='name' value='<%= name %>' /><br />
            <span class='label'>Character Status:</span> <%= status.name %><br />
            <span class='label'><%= creature_type.genealogy_name %>:</span> <select name='genealogy'></select><br />
            <span class='label'><%= creature_type.affiliation_name %>:</span> <select name='affiliation'></select><br />
            {# <span class='label'><%= creature_type.subgroup_name %>:</span> <select name='subgroup'></select><br /> #}
            <span class='label'>Virtue:</span> <select name='virtue'></select><br />
            <span class='label'>Vice:</span> <select name='vice'></select><br />
        </div>
    </script>

    <script type='text/html' id='template_simple-trait-group'>
        <% if (typeof header_tag != 'undefined') { %><<%= header_tag %>><%= header %></<%= header_tag %>><% } %>
        <ul class='trait-list'></ul>
    </script>

    <script type='text/html' id='template_rated-trait'>
        <span class='stat-label'><%= trait.name %></span><div class='rating-container'></div>
    </script>

    <script type='text/html' id='template_skill-specialties'>
        <h2>Skill Specialties</h2>
        <select name='trait'></select><input type='text' name='specialty' /><button name='add'>add</button>
        <ul class='trait-list'></ul>
    </script>

    <script type='text/html' id='template_skill-specialty-item'>
        <span class='specialty-label'><%= trait.name %></span>: <%= specialty %><div class='controls'><a class='remove'>✖</a></div>
    </script>

    <script type='text/html' id='template_trait-selection-section'>
        <h2><%= header %></h2>
        <select name='trait'></select><button name='add'>add</button>
        <ul class='trait-list'></ul>
    </script>

    <script type='text/html' id='template_power-item'>
        <%= trait.group %> <%= trait.rating %>: <%= trait.name %><div class='controls'><a class='remove'>✖</a></div>
    </script>

    <script type='text/html' id='template_merit-item'>
        <%= trait.name %> (<%= rating %>)<% if (trait.requires_specification) { %>: <%= specification %><% } %><div class='controls'><% if (Traits.Models.Merit.prototype.requires_modal(trait)) { %> <a class='edit'>[edit]</a><% } %> <a class='remove'>✖</a></div>
    </script>

    <script type='text/html' id='template_merit-modal'>
        <div class='modal-content'>
            <h3><%= trait.name %><% if (trait.requires_specification) { %>: <span name='specification'><%= specification %></span><% } %></h3>
            <% if (trait.requires_specification) { %>
            <label>
                Specification: <input type='text' name='specification' value='<%= specification %>' />
            </label><br />
            <% } %>
            Rating: <div class='rating-container'></div><br />
            <% if (trait.requires_description) { %>
            Description: <textarea name='description' rows='10' cols='40'><%= description %></textarea><br />
            <% } %>
            <button name='close'>Close</button>
        </div>
    </script>

    <script type='text/html' id='template_flaw-item'>
        <%= trait.name %><% if (trait.requires_specification) { %>: <%= specification %><% } %><div class='controls'><% if (Traits.Models.Flaw.prototype.requires_modal(trait)) { %> <a class='edit'>[edit]</a><% } %> <a class='remove'>✖</a></div>
    </script>

    <script type='text/html' id='template_flaw-modal'>
        <div class='modal-content'>
            <h3><%= trait.name %><% if (trait.requires_specification) { %>: <span name='specification'><%= specification %></span><% } %></h3>
            <% if (trait.requires_specification) { %>
            <label>
                Specification: <input type='text' name='specification' value='<%= specification %>' />
            </label><br />
            <% } %>
            <% if (trait.requires_description) { %>
            Description: <textarea name='description' rows='10' cols='40'><%= description %></textarea><br />
            <% } %>
            <button name='close'>Close</button>
        </div>
    </script>

    <script type='text/html' id='template_derangement-modal'>
        <div class='modal-content'>
            <h3><%= trait.name %><% if (trait.requires_specification) { %>: <span name='specification'><%= specification %></span><% } %></h3>
            <% if (trait.requires_specification) { %>
            <label>
                Specification: <input type='text' name='specification' value='<%= specification %>' />
            </label><br />
            <% } %>
            <% if (trait.requires_description) { %>
            Description: <textarea name='description' rows='10' cols='40'><%= description %></textarea><br />
            <% } %>
            <button name='close'>Close</button>
        </div>
    </script>

    <script type='text/html' id='template_num-trait-item'>
        <span class='stat-label'><%= trait.name %></span> <input class='num-trait' type='number' name='rating' value='<%= rating %>' />
    </script>

    <script type='text/html' id='template_character-text'>
        <h2><%= trait.name %></h2>
        <textarea rows='20' cols='110'><%= text %></textarea>
    </script>

    <script type='text/javascript'>
        Tools.create_namespace('Traits.Enums');
        Tools.create_namespace('Traits.Objects');
        Tools.create_namespace('Character.Objects');

        Traits.Enums.Vice   = new Enum.Enum({{ vices   | serialize_json | safe }});
        Traits.Enums.Virtue = new Enum.Enum({{ virtues | serialize_json | safe }});

        Traits.Objects.Affiliation  = new Backbone.Collection({{ affiliations   | serialize_json | safe }}, { model: Traits.Models.Affiliation  });
        Traits.Objects.CreatureType = new Backbone.Collection({{ creature_types | serialize_json | safe }}, { model: Traits.Models.CreatureType });
        Traits.Objects.Genealogy    = new Backbone.Collection({{ genealogies    | serialize_json | safe }}, { model: Traits.Models.Genealogy    });
        Traits.Objects.Subgroup     = new Backbone.Collection({{ subgroups      | serialize_json | safe }}, { model: Traits.Models.Subgroup     });

        Traits.Enums.AttributeType   = new Enum.Enum({{ attribute_types   | serialize_json | safe }});
        Traits.Enums.DerangementType = new Enum.Enum({{ derangement_types | serialize_json | safe }});
        Traits.Enums.FlawType        = new Enum.Enum({{ flaw_types        | serialize_json | safe }});
        Traits.Enums.MeritType       = new Enum.Enum({{ merit_types       | serialize_json | safe }});
        Traits.Enums.SkillType       = new Enum.Enum({{ skill_types       | serialize_json | safe }});

        Traits.Objects.Attribute     = new Backbone.Collection({{ attributes      | serialize_json | safe }}, { model: Traits.Models.Attribute,     parse: true });
        Traits.Objects.CharacterText = new Backbone.Collection({{ character_texts | serialize_json | safe }}, { model: Traits.Models.CharacterText, parse: true });
        Traits.Objects.CombatTrait   = new Backbone.Collection({{ combat_traits   | serialize_json | safe }}, { model: Traits.Models.CombatTrait,   parse: true });
        Traits.Objects.Derangement   = new Backbone.Collection({{ derangements    | serialize_json | safe }}, { model: Traits.Models.Derangement,   parse: true });
        Traits.Objects.Flaw          = new Backbone.Collection({{ flaws           | serialize_json | safe }}, { model: Traits.Models.Flaw,          parse: true });
        Traits.Objects.Merit         = new Backbone.Collection({{ merits          | serialize_json | safe }}, { model: Traits.Models.Merit,         parse: true });
        Traits.Objects.MiscTrait     = new Backbone.Collection({{ misc_traits     | serialize_json | safe }}, { model: Traits.Models.MiscTrait,     parse: true });
        Traits.Objects.Power         = new Backbone.Collection({{ powers          | serialize_json | safe }}, { model: Traits.Models.Power,         parse: true });
        Traits.Objects.Skill         = new Backbone.Collection({{ skills          | serialize_json | safe }}, { model: Traits.Models.Skill,         parse: true });

        Character.Objects.Character = new Character.Models.Character({{ character | serialize_json | safe }}, { parse: true });

        Character.Objects.CharacterHasAttribute      = new Backbone.Collection({{ character_has_attribute       | serialize_json | safe }}, { model: Character.Models.CharacterHasAttribute,      parse: true });
        Character.Objects.CharacterHasCombatTrait    = new Backbone.Collection({{ character_has_combat_trait    | serialize_json | safe }}, { model: Character.Models.CharacterHasCombatTrait,    parse: true });
        Character.Objects.CharacterHasDerangement    = new Backbone.Collection({{ character_has_derangement     | serialize_json | safe }}, { model: Character.Models.CharacterHasDerangement,    parse: true });
        Character.Objects.CharacterHasFlaw           = new Backbone.Collection({{ character_has_flaw            | serialize_json | safe }}, { model: Character.Models.CharacterHasFlaw,           parse: true });
        Character.Objects.CharacterHasMerit          = new Backbone.Collection({{ character_has_merit           | serialize_json | safe }}, { model: Character.Models.CharacterHasMerit,          parse: true });
        Character.Objects.CharacterHasMiscTrait      = new Backbone.Collection({{ character_has_misc_trait      | serialize_json | safe }}, { model: Character.Models.CharacterHasMiscTrait,      parse: true });
        Character.Objects.CharacterHasPower          = new Backbone.Collection({{ character_has_power           | serialize_json | safe }}, { model: Character.Models.CharacterHasPower,          parse: true });
        Character.Objects.CharacterHasSkill          = new Backbone.Collection({{ character_has_skill           | serialize_json | safe }}, { model: Character.Models.CharacterHasSkill,          parse: true });
        Character.Objects.CharacterHasSkillSpecialty = new Backbone.Collection({{ character_has_skill_specialty | serialize_json | safe }}, { model: Character.Models.CharacterHasSkillSpecialty, parse: true });
        Character.Objects.CharacterHasText           = new Backbone.Collection({{ character_has_text            | serialize_json | safe }}, { model: Character.Models.CharacterHasText,           parse: true });

    </script>
    <header class="charsheet-header">
        <h1>{% if character.name %}{{ character.name }}{% else %}New Character{% endif %}</h1>
        <p><span class='label'>Played by:</span> {{ character.user.realname }}</p>
    </header>

    <section id='general-character-traits'>
    </section>

    <section id='attributes'>
        <h2>Attributes</h2>
        {# TODO(emery): Determine width programatically. #}
        <div id='mental-attributes'   style='width: 33.33333%'></div>
        <div id='physical-attributes' style='width: 33.33333%'></div>
        <div id='social-attributes'   style='width: 33.33333%'></div>
    </section>

    <section id='skills'>
        <h2>Skills</h2>
        {# TODO(emery): Determine width programatically. #}
        <div id='mental-skills'   style='width: 33.33333%'></div>
        <div id='physical-skills' style='width: 33.33333%'></div>
        <div id='social-skills'   style='width: 33.33333%'></div>
    </section>

    <section id='skill-specialties'>
    </section>

    <div class="row">
        <section id='powers'>
        </section>
        <section id='merits'>
        </section>
        <section id='flaws'>
        </section>
    </div>

    <div class="row">
        <section id='combat'>
        </section>
        <section id='supernatural'>
        </section>
        <section id='derangements'>
        </section>
    </div>

    <div id='character-texts'>
    </div>


    {% compress js %}
    <script type='text/coffeescript'>
    $ () ->
        character_summary = new Character.Views.CharacterSummary
            el: $ '#general-character-traits'
            template: _.template $('#template_character-summary').html()
            model: Character.Objects.Character
        character_summary.render()


        simple_trait_section_template = _.template $('#template_simple-trait-group').html()
        rated_trait_template = _.template $('#template_rated-trait').html()


        # ATTRIBUTES

        _.each Traits.Enums.AttributeType._elements, (type) ->
            attributes = new Common.Views.List
                el: $ "##{ type.name.toLowerCase() }-attributes"
                collection: new Tools.Collections.FilteredCollection(null,
                    base_collection: Character.Objects.CharacterHasAttribute
                    filter: (ca) ->
                        trait = ca.get 'trait'
                        type == trait.get 'type'
                )

                template: simple_trait_section_template
                template_data:
                    header: type.name
                    header_tag: 'h3'

                ItemView: Character.Views.RatingControl
                item_options:
                    template: rated_trait_template
                    values: [1, 2, 3, 4, 5]

            attributes.render()


        # SKILLS

        _.each Traits.Enums.SkillType._elements, (type) ->
            skills = new Common.Views.List
                el: $ "##{ type.name.toLowerCase() }-skills"
                collection: new Tools.Collections.FilteredCollection(null,
                    base_collection: Character.Objects.CharacterHasSkill
                    filter: (ca) ->
                        trait = ca.get 'trait'
                        type == trait.get 'type'
                )

                template: simple_trait_section_template
                template_data:
                    header: type.name
                    header_tag: 'h3'

                ItemView: Character.Views.RatingControl
                item_options:
                    template: rated_trait_template
                    values: [0, 1, 2, 3, 4, 5]

            skills.render()


        # SKILL SPECIALTIES

        specialties = new Character.Views.SkillSpecialtySection
            el: $ '#skill-specialties'
            template: _.template $('#template_skill-specialties').html()
            collection: Character.Objects.CharacterHasSkillSpecialty
            item_options:
                template: _.template $('#template_skill-specialty-item').html()
        specialties.render()


        # POWERS

        powers = new Character.Views.PowerSection
            el: $ '#powers'
            template: _.template $('#template_trait-selection-section').html()
            template_data:
                header: 'Disciplines'
            collection: Character.Objects.CharacterHasPower
            item_options:
                template: _.template $('#template_power-item').html()
        powers.render()


        # MERITS

        merits = new Character.Views.MeritSection
            el: $ '#merits'
            template: _.template $('#template_trait-selection-section').html()
            template_data:
                header: 'Merits'
            collection: Character.Objects.CharacterHasMerit
            ItemView: Character.Views.EditableItem
            item_options:
                template: _.template $('#template_merit-item').html()
                ModalView: Character.Views.TraitModal
                modal_options:
                    template: _.template $('#template_merit-modal').html()
        merits.render()


        # FLAWS

        flaws = new Character.Views.FlawSection
            el: $ '#flaws'
            template: _.template $('#template_trait-selection-section').html()
            template_data:
                header: 'Flaws'

            traits: Traits.Objects.Flaw
            collection: Character.Objects.CharacterHasFlaw

            ItemView: Character.Views.EditableItem
            item_options:
                template: _.template $('#template_flaw-item').html()
                ModalView: Character.Views.TraitModal
                modal_options:
                    template: _.template $('#template_flaw-modal').html()
        flaws.render()


        # COMBAT

        combat_traits = new Common.Views.List
            el: $ '#combat'
            template: _.template $('#template_simple-trait-group').html()
            template_data:
                header: 'Combat'
                header_tag: 'h2'
            collection: Character.Objects.CharacterHasCombatTrait
            ItemView: Character.Views.NumberTraitItem
            item_options:
                template: _.template $('#template_num-trait-item').html()
        combat_traits.render()


        # SUPERNATURAL

        supernatural_traits = new Common.Views.List
            el: $ '#supernatural'
            template: _.template $('#template_simple-trait-group').html()
            template_data:
                header: 'Supernatural'
                header_tag: 'h2'
            collection: Character.Objects.CharacterHasMiscTrait
            ItemView: Character.Views.NumberTraitItem
            item_options:
                template: _.template $('#template_num-trait-item').html()
        supernatural_traits.render()


        # DERANGEMENTS

        derangements = new Character.Views.FlawSection
            el: $ '#derangements'
            template: _.template $('#template_trait-selection-section').html()
            template_data:
                header: 'Derangements'

            traits: Traits.Objects.Derangement
            collection: Character.Objects.CharacterHasDerangement

            ItemView: Character.Views.EditableItem
            item_options:
                template: _.template $('#template_flaw-item').html()
                ModalView: Character.Views.TraitModal
                modal_options:
                    template: _.template $('#template_flaw-modal').html()
        derangements.render()


        # CHARACTER TEXTS

        character_texts = new Common.Views.List
            el: $ '#character-texts'
            template: _.template $('#template_simple-trait-group').html()
            collection: Character.Objects.CharacterHasText
            ItemView: Character.Views.CharacterTextItem
            item_options:
                template: _.template $('#template_character-text').html()
                className: 'character-text'
        character_texts.render()
    </script>
    {% endcompress %}
{% endblock content %}
