{% extends 'base_page.html' %}

{% block content %}
    <h2>Los Angeles: On a Dark Desert Highway</h2>
    <form id="filter_form">
        <label for="status">Status:</label>
        <select name="status">
            <option value="active">Active</option>
            <option value="approved">Approved</option>
            <option value="deceased">Deceased</option>
            <option value="editing">Editing</option>
        </select>
        <br />
        <input type="submit" value="Filter" />
    </form>
    <table border="0" cellpadding="3" cellspacing="0" width="100%" class="character-list">
        <tr>
            <th>Player</th>
            <th>Character Name</th>
            <th>Clan</th>
            <th>Covenant</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr>
            <td>Carly</td>
            <td><a href="#">Awesome McCoolname</a></td>
            <td>Daeva</td>
            <td>Ordo Dracul</td>
            <td>Active</td>
            <td><a href="#">edit</a> / <a href="#">delete</a></td>
        </tr>
        <tr>
            <td>Carly</td>
            <td><a href="#">Awesome McCoolname</a></td>
            <td>Daeva</td>
            <td>Ordo Dracul</td>
            <td>Active</td>
            <td><a href="#">edit</a> / <a href="#">delete</a></td>
        </tr>
        <tr>
            <td>Carly</td>
            <td><a href="#">Awesome McCoolname</a></td>
            <td>Daeva</td>
            <td>Ordo Dracul</td>
            <td>Active</td>
            <td><a href="#">edit</a> / <a href="#">delete</a></td>
        </tr>
        <tr>
            <td>Carly</td>
            <td><a href="#">Awesome McCoolname</a></td>
            <td>Daeva</td>
            <td>Ordo Dracul</td>
            <td>Active</td>
            <td><a href="#">edit</a> / <a href="#">delete</a></td>
        </tr>
    </table>

    <div id="sheet">
        <h2>Awesome McCoolname</h2>
        <div id="basics">

        </div>
        <div id="attributes">

        </div>
        <div id="skills">

        </div>
        <div class="row">
            <div id="disciplines">

            </div>
            <div id="merits">

            </div>
            <div id="flaws">

            </div>
        </div>
        <div class="row">
            <div id="combat">

            </div>
            <div id="vampire">

            </div>
            <div id="derangements">

            </div>
        </div>
    </div>
{% endblock content %}
